.lt_sort{
  height: 30px;
  line-height: 30px;
  background-color: #EEEEEE;
  text-align: center;
  font-size: 14px;
}

.lt_sort a{
  float: left;
  width: 25%;
  color: #666666;
}
.lt_sort a.current{
  color: orange;
}
.lt_sort a i{
  margin: 0 3px;
}